.my-form form {
  box-shadow: 1px 1px 10px silver;
  padding: 50px;
  min-width: 600px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width:650px) {
  .my-form form {
    min-width: 300px;
  }
}

.field-container {
  position: relative;
  margin-bottom: 50px;
}

.field-container label {
  transition: all .3s;
  z-index: -1;
}

.field-container .label {
  position: absolute;
  top: 10px;
  left: 0;
  color: grey;
}
.top-label {
  position: absolute;
  color: rgb(0, 158, 179);
  top: -15px;
  font-size: 11px;
}

.my-form form input, .my-form form textarea {
  
  width: 100%;
  background-color: transparent;
}

.my-form form textarea {
  height: 80px;
}
.my-form form input {
  height: 40px;
}


.my-form form input, .my-form form textarea {
  border: none;
  border-bottom: 1px solid silver;
}

.my-form form input:focus-within, .my-form form textarea:focus-within {
  outline: none;
  border-bottom: 1px solid rgb(0, 158, 179);
  opacity: 1;
}
